@model LAMBusiness.Web.Models.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Productos";
}

<form asp-action="Edit">
    <div class="modal-content border-0 box-shadow">
        <div class="modal-header pb-0">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Productos</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item"><a asp-action="Catalogo" asp-controller="Menu">Catálogos</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Productos">Productos</a></li>
                    <li class="breadcrumb-item active">Editar Registro</li>
                </ul>
            </div>
            <a asp-action="Index" asp-controller="Productos" class="close"><span>&times;</span></a>
        </div>
        <div class="modal-body py-4">
            <input type="hidden" asp-for="ProductoID" />
            <div class="row px-md-3">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" autofocus />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label asp-for="ProductoNombre" class="control-label"></label>
                        <input asp-for="ProductoNombre" class="form-control" />
                        <span asp-validation-for="ProductoNombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="ProductoDescripcion" class="control-label"></label>
                        <input asp-for="ProductoDescripcion" class="form-control" />
                        <span asp-validation-for="ProductoDescripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PrecioVenta" class="control-label"></label>
                        <input asp-for="PrecioVenta" class="form-control" />
                        <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TasaID" class="control-label"></label>
                        <select asp-for="TasaID" class="form-control" asp-items="Model.TasasImpuestosDDL"></select>
                        <span asp-validation-for="TasaID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="UnidadID" class="control-label"></label>
                        <select asp-for="UnidadID" class="form-control" asp-items="Model.UnidadesDDL"></select>
                        <span asp-validation-for="UnidadID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div id="MarcaSearch" class="form-group @if (Model.Marcas != null) {<text>d-none</text>}">
                        <input asp-for="MarcaID" type="hidden" />
                        <label asp-for="MarcaID" class="control-label"></label>
                        <div class="input-group">
                            <input id="MarcaSearchInput" type="search" class="form-control"
                                   data-toggle="focus"
                                   data-target=".list-registers"
                                   placeholder="Ingrese nombre de la marca..."
                                   autofocus autocomplete="off"
                                   onkeyup="positionCursorWithArrowKey(event);"
                                   onkeypress="getMarca(event);" />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button id="MarcaSearchButton" class="btn btn-light border"
                                            type="button" onclick="search(event);">
                                        <span id="SpinList" class="d-flex align-items-center">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="MarcaID" class="text-danger"></span>
                        <div id="dRow" class="mb-4 mt-1 list-registers" data-charging="0" data-rows-next="1">
                        </div>
                    </div>
                </div>
                <div id="MarcaDatos" class="col-12 py-2 @if(Model.Marcas == null){<text>d-none</text>}">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="font-weight-bold text-base">Datos de la marca</h6>
                            <a href="#" onclick="deleteButtonMarca(event);"><span>&times;</span></a>
                        </div>
                        <hr class="my-2" />
                        <small id="MarcaNombre" class="d-block">
                            @if (Model.Marcas != null)
                            {
                                <text>@Model.Marcas.MarcaNombre</text>
                            }
                        </small>
                        <small id="MarcaDescripcion" class="text-muted">
                            @if (Model.Marcas != null)
                            {
                                <text>@Model.Marcas.MarcaDescripcion</text>
                            }
                        </small>
                        <hr />
                    </div>
                </div>
                <!--add package code for product-->
                <div id="dPackage" class="col-12" style="display:none;">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="CodigoPieza" class="control-label"></label>
                                <input asp-for="CodigoPieza" class="form-control" />
                                <span asp-validation-for="CodigoPieza" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="CantidadProductoxPaquete" class="control-label"></label>
                                <input asp-for="CantidadProductoxPaquete" class="form-control" />
                                <span asp-validation-for="CantidadProductoxPaquete" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Package-->
                @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="ExistenciaMaxima" class="control-label"></label>
                <input asp-for="ExistenciaMaxima" class="form-control" />
                <span asp-validation-for="ExistenciaMaxima" class="text-danger"></span>
            </div>
        </div>*@
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Activo" class="control-label"></label>
                        <input class="d-block" asp-for="Activo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3">
                <input type="submit" value="Actualizar" class="btn btn-base" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        validatedUnitChange();
    });

    $('#UnidadID').change(function () {
        validatedUnitChange();
    });

    function addMarca(e) {
        e.preventDefault();
        getMarcaByNombre(e.currentTarget.dataset.search);
    }

    function addRowsNext(skip, inicio = false) {
        addProcessWithSpinnerInList('SpinList', 'fa-search');
        $('#dRow').attr('data-charging', "1");
        var searchBy = $('#MarcaSearchInput')[0] === undefined ? "" : $('#MarcaSearchInput').val();
        if (searchBy === '') {
            $('#dRow').attr('data-rows-next', "0");
            $('#dRow').attr('data-charging', "0");
            removeProcessWithSpinnerInList('SpinList', 'fa-search');
            return false;
        }
        $.ajax({
            url: '@Url.Action("GetMarcas", "Productos")',
            method: 'POST',
            datatype: 'text',
            data: {
                pattern: searchBy,
                skip: skip
            },
            success: function (r) {
                if (inicio) { $('#dRow').empty(); }
                if (r !== null && r.trim() !== '') {
                    $('#dRow').append(r);
                    $('#dRow').slideDown();
                    $('#MarcaSearchInput').focus();
                } else {
                    $('#dRow').attr('data-rows-next', "0");
                }
                $('#dRow').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            error: function (r) {
                $('#dRow').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            cache: false
        });
    }

    function deleteButtonMarca(e) {
        e.preventDefault();
        $('#MarcaID').val('');
        $('#MarcaNombre')[0].innerText = '';
        $('#MarcaDescripcion')[0].innerText = '';
        $('#MarcaDatos').removeClass('d-block').addClass('d-none');
        $('#MarcaSearch').removeClass('d-none').addClass('d-block');
        $('#MarcasLista > div').remove();
        $('#MarcaSearchInput').val('');
        $('#MarcaSearchInput').focus();
    }

    function getMarca(e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            getMarcaByNombre(e.currentTarget.value);
        }
    }

    function getMarcaByNombre(marca) {
        if (marca !== '') {
            addProcessWithSpinnerInList('SpinList', 'fa-search');
            $.ajax({
                url: '@Url.Action("GetMarca", "Productos")',
                method: 'POST',
                datatype: 'text',
                data: { nombreMarca: marca },
                success: function (r) {
                    if (!r.error) {
                        $('#MarcaDatos').removeClass('d-none').addClass('d-block');
                        $('#MarcaID').val(r.marcaID);
                        $('#MarcaNombre')[0].innerText = r.marcaNombre;
                        $('#MarcaDescripcion')[0].innerText = r.marcaDescripcion;
                        $('#MarcaSearch').removeClass('d-block').addClass('d-none');
                        $('#dRow > div').remove();
                        $('#Activo').focus();
                    } else {
                        alert(r.message);
                    }
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                error: function (r) {
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                cache: false
            });
        }
    }

    function search(e) {
        e.preventDefault();
        if ($('#MarcaSearchInput').attr('data-toggle')) {
            if ($('#MarcaSearchInput').val() !== '') {
                skip = 0;
                addRowsNext(skip, true);
            }
        }
    }
    
    function validatedUnitChange() {
        if ($('#UnidadID').val() === '6C9C7801-D654-11E9-8B00-8CDCD47D68A1' ||
            $('#UnidadID').val() === '95B850EC-D654-11E9-8B00-8CDCD47D68A1') {
            $('#dPackage').show();
        } else {
            $('#dPackage').hide();
        }
    }
</script>
}
