@model LAMBusiness.Shared.Catalogo.Estado

@{
    ViewData["Title"] = "Estados";
}

<form asp-action="Edit">
    <div class="modal-content border-0 box-shadow box-responsive m-auto">
        <div class="modal-header pb-0">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Estados</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item"><a asp-action="Catalogo" asp-controller="Menu">Catálogos</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Estados">Estados</a></li>
                    <li class="breadcrumb-item active">Editar Registro</li>
                </ul>
            </div>
            <a asp-action="Index" asp-controller="Estados" class="close"><span>&times;</span></a>
        </div>
        <div class="modal-body py-4">
            <div class="row px-md-3">
                <div class="col">
                    <input type="hidden" asp-for="EstadoID" />
                    <input type="hidden" asp-for="EstadoClave" />

                    <div class="form-group">
                        <label asp-for="EstadoDescripcion" class="control-label"></label>
                        <input asp-for="EstadoDescripcion" class="form-control" />
                        <span asp-validation-for="EstadoDescripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3">
                <input type="submit" value="Actualizar" class="btn btn-base" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>
