@charset "UTF-8";
/*!
 * Ing. Luis Martínez
 * 2020 - 2021 LAMBusiness
 */

/*Html*/
a {
    color: #0366d6;
    text-decoration: none;
}
    a.navbar-brand {text-align:center;white-space:normal;word-break:break-all;}
body {background-color:#eaedef;margin-bottom:60px;}
button.accept-policy {font-size: 1rem;line-height: inherit;}
html {font-size:14px;min-height:100%;position:relative;}
input[type=checkbox], input[type=radio] {cursor:pointer;height:1.5rem;width:1.4rem;}
input.form-control, select.form-select, textarea.form-control{font-weight:500;margin-bottom:1rem;padding:0.75rem;}
label.control-label{color:#6c757d!important;margin-bottom:.35rem;margin-top:.25rem;}
ul li.selected{background-color:#f8f9fa;color:#000;font-weight:bold;}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), 
button:not(:disabled), a.btn {
    border-radius: 50rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*IDs*/
#UpButton{background-color:transparent;border:0;bottom:4rem;color:#ff4152;display:none;
          font-size:3rem;outline:none;position:fixed;right:2rem;z-index:99999;}
    #UpButton:hover, #UpButton:focus{color:rgba(255,65,82,.5);}

/*Colores Base
color base: #ff4152;
border: #fe1b30;
transparencia: rgba(255,65,82,.5)*/
.bg-base {color:#fff;background-color:#ff4152;}
    a.bg-base.focus, a.bg-base:focus {outline:0;box-shadow:0 0 0 0.2rem rgba(255,65,82,.5);}
    a.bg-base:focus, a.bg-base:hover {color:#fff;background-color:#fe1b30;}

.btn-base {color:#fff;background-color:#ff4152;border-color:#fe1b30;}
    .btn-base.focus, .btn-base:focus {box-shadow:0 0 0 0.2rem rgba(255,65,82,.5);}
    .btn-base:hover {color:#fff;background-color:#fe1b30;}
    .btn-base:not(:disabled):not(.disabled).active, 
    .btn-base:not(:disabled):not(.disabled):active, 
    .show > .btn-base.dropdown-toggle {color:#fff;background-color:#ff4152;border-color:#fe1b30;}

.btn-outline-base {color:#ff4152;border-color:#ff4152;}
    .btn-outline-base:hover {color:#fff!important;background-color:#ff4152;border-color:#ff4152;}
    .btn-outline-base.focus, .btn-outline-base:focus {box-shadow:0 0 0 0.2rem rgba(255,65,82,.5);}
    .btn-outline-base:not(:disabled):not(.disabled).active, 
    .btn-outline-base:not(:disabled):not(.disabled):active, 
    .show > .btn-outline-base.dropdown-toggle {color:#fff;background-color:#ff4152;
                                               border-color:#ff4152;}
.text-base{color:#ff4152!important;}

/*Class*/
.bg-card{box-shadow:initial;}
    .bg-card:hover{box-shadow:0 0.25rem 0.75rem rgba(0,0,0,0.2);}
.bg-disabled {z-index:9999;}
.bg-fixed {bottom:0;left:0;position:fixed;right:0;top:0;}
.bg-absolute {bottom:0;left:0;position:absolute;right:0;top:0;}
    .bg-absolute:hover {opacity:1;}
.bg-row{background-color:transparent;}
    .bg-row:hover{background-color:rgba(0,0,0,0.03);}
.bg-selected {background-color:#fffecb!important;}
.bg-transparent-dark {background-color:rgba(0, 0, 0, 0.5)!important}
.bg-transparent-white {background-color:rgba(255, 255, 255, 0.5)!important}
.bg-transparent-white-ligth {background-color:rgba(255, 255, 255, 0.03)!important}

.box-shadow {box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

.btn-icon {color:#bcbcbc;font-size:1.2rem;display:inline-block;
           padding:6px 9px;text-decoration:none!important;text-align:center;}
    .btn-icon:hover, .btn-icon:focus {color:#ff4152;background-color:rgba(0, 0, 0, 0.1)!important;}
    .btn-icon > i{height:20px;width:20px;}
    .btn-icon > img{border-radius:50%;width:1.8rem;}

.btn-help{font-size:1.4rem;opacity:0.7;}
    .btn-help:hover, .btn-help.focus{opacity:1;}

.btn-lam{cursor:pointer;transform:translate(0, 0);-webkit-transform:translate(0, 0);-o-transform:translate(0, 0);-moz-transform:translate(0, 0);-ms-transform:translate(0, 0);
         transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;-moz-transition:all .5s;}
    .btn-lam:hover{transform:translate(0, -20px);-webkit-transform:translate(0, -20px);-o-transform:translate(0, -20px);-moz-transform:translate(0, -20px);-ms-transform:translate(0, -20px);
                   transition:all .2s;-webkit-transition:all .2s;-o-transition:all .2s;-moz-transition:all .2s;}
    .btn-lam:hover .bg-card{background-color:rgba(0,0,0,0.01);padding-top:2rem!important;}
        .btn-lam:hover .bg-card > i{font-size:4.5rem;}
        .btn-lam .bg-card > img{transition:width .2s;-webkit-transition:width .2s;-o-transition:width .2s;-moz-transition:width .2s;}
        .btn-lam:hover .bg-card > img{transition:width .2s;-webkit-transition:width .2s;-o-transition:width .2s;-moz-transition:width .2s;width:8rem!important;}

.card-lam-d1{text-align:left;}
    .card-header-lam-d1{align-items:flex-start;display:flex;flex:0 0 100%;max-width:100%;padding:1rem 0!important;text-align:left;}
        .card-header-lam-d1 p.title{font-size:1.3rem;}
        .card-header-lam-d1 span.subtitle{font-size:0.8rem;}

.card-body-lam-d1 i{color:#a1b4cc;font-size:1rem;margin:0 .75rem;}

.card-footer-lam-d1{display:block;}

.checkbox-select {cursor:pointer;height:1rem!important;width:1rem!important;}

.flex-container{display:flex; flex-direction:column; height:100%;}
.footer {bottom:0;line-height:60px;position:absolute;width:100%;white-space:nowrap;}

.list-registers{max-height:13.75rem;overflow-y:auto;}

.modal-footer{padding:1.2rem .75rem;}
.mt-container{margin-top:6rem;}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {color:#fff;background-color:#1b6ec2;border-color:#1861ac;}

.process-with-spinner {background-color:transparent;border-radius:8px;bottom:4px;display:inline-flex;
                       padding:1rem;position:fixed;right:3px;z-index:999;}

.required::after{color:#00c6fc;content:'*';margin-left:0.3rem;position:relative;top:3px;}

.rounded-lam-lg { border-radius: 1rem !important; }
.rounded-lam-lg-bottom { border-bottom-left-radius: 1rem !important; border-bottom-right-radius: 1rem !important;}
    .rounded-lam-lg-bottom-start { border-bottom-left-radius: 1rem !important;}
    .rounded-lam-lg-bottom-end { border-bottom-right-radius: 1rem !important;}
.rounded-lam-lg-top { border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;}
    .rounded-lam-lg-top-start { border-top-left-radius: 1rem !important;}
    .rounded-lam-lg-top-end { border-top-right-radius: 1rem !important;}

.row-bordered {overflow: hidden;}

    .row-bordered > .col, .row-bordered > [class^="col-"], .row-bordered > [class*=" col-"], 
    .row-bordered > [class^="col "], .row-bordered > [class*=" col "], 
    .row-bordered > [class$=" col"], .row-bordered > [class="col"] {position: relative;
                                                                    padding-top: 1px;}

.row-bordered > .col::before, .row-bordered > [class^="col-"]::before, 
.row-bordered > [class*=" col-"]::before, .row-bordered > [class^="col "]::before, 
.row-bordered > [class*=" col "]::before, .row-bordered > [class$=" col"]::before, 
.row-bordered > [class="col"]::before {border-top: 1px solid #dee2e6;bottom: -1px;content: "";
                                       display: block;height: 0;left: 0;position: absolute;right: 0;}

.row-bordered > .col::after, .row-bordered > [class^="col-"]::after,
.row-bordered > [class*=" col-"]::after, .row-bordered > [class^="col "]::after,
.row-bordered > [class*=" col "]::after, .row-bordered > [class$=" col"]::after,
.row-bordered > [class="col"]::after {border-left: 1px solid #dee2e6;bottom: 0;content: "";
                                      display: block;left: -1px;position: absolute;top: 0;width: 0;}

.search input[type=search], .search input[type=number] {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    margin-bottom: initial;
    padding-left: 1.5rem;
}

.search-0 input[type=search], .search-0 input[type=number] {
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
    margin-bottom: initial!important;
    padding-left: 0.75rem;
}

.search-0 button{
    border-radius:.25rem!important;
    padding: .375rem .75rem!important;
}

.signIn{display:flex;flex-basis:100%;max-height:100vh;width:100%;}
.box-shadow-lam{box-shadow:0px 1px 1px #cacaca;}

.text-deleteConfirm {margin: 1em 0;}
.text-deleteConfirm > i{font-size:4rem;}
.text-deleteConfirm > p{font-size:1.6rem;font-weight:700;margin:1.5rem 0 0;}
.text-deleteConfirm > span{font-size:1rem;}


/*Css bootstrap replace values*/
.tooltip-inner {background-color:#ff4152;}

.bs-tooltip-top .tooltip-arrow::before, 
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: #ff4152;
}

.bs-tooltip-end .tooltip-arrow::before, 
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: #ff4152;
}

.bs-tooltip-bottom .tooltip-arrow::before, 
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: #ff4152;
}
.bs-tooltip-start .tooltip-arrow::before, 
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: #ff4152;
}

/*Render*/
@media screen and (min-width: 1024px) {
    .box-responsive{max-width:50%;}
}

@media screen and (min-width: 768px) {
    html {font-size: 16px;}
}

@media screen and (max-width: 1024px) {
    #UpButton{right:0;}
}

@media screen and (max-width: 768px) {
    .box-responsive{max-width:75%;}
}

/*Movil Horizontal*/
@media screen and (max-width: 640px) {
    .box-responsive{max-width:75%;}
}

/*Movil vertical*/
@media screen and (max-width: 425px) {
    .box-responsive{max-width:100%;}
    .btn-icon {padding:0.3rem;}
    .card-header-lam-d1{display:block;text-align:center;}
        .card-header-lam-d1 p.title{font-size:1.1rem;}
        .card-header-lam-d1 span.subtitle{font-size:0.7rem;}
    .mt-container{margin-top:4.5rem;}
    .process-with-spinner {background-color:#fff;}
    .text-deleteConfirm > p{font-size:1.3rem;}
}