@model LAMBusiness.Shared.Aplicacion.Filtro<List<LAMBusiness.Shared.Aplicacion.Modulo>>

@if (Model != null)
{
    <div id="dRows" data-charging="0" data-rows-next="1">
        @if (Model.Skip == 0)
        {
            <div class="row px-md-3">
                <div class="border-bottom col-8 p-3">
                    <div class="fw-bold text-uppercase">Módulos</div>
                </div>
                <small class="border-bottom col-4 p-3 text-muted text-end">
                    @Model.Registros.ToString("#,###,##0") Registro(s).
                </small>
            </div>
        }
        <div class="px-md-3">
            @foreach (var item in Model.Datos)
            {
                <div class="row bg-row">
                    <div class="border-bottom col-8 px-3 py-2 text-truncate">
                        <span class="text-dark">@Html.DisplayFor(modelItem => item.Descripcion)</span>
                        @if (!item.Activo) {
                            <small class="d-block badge rounded-pill bg-danger">Inactivo</small>
                        }
                    </div>
                    <div class="border-bottom col-4 px-3 py-2 text-end">
                        @if (Model.PermisoEscritura)
                        {
                            <a asp-action="Edit" asp-route-id="@item.ModuloID">
                                <div class="btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="editar registro">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </a>
                            <a href="#" data-id="@item.ModuloID" class="deleteConfirm" data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                                <div class="btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="eliminar registro">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}