@model IEnumerable<LAMBusiness.Shared.Catalogo.Municipio>

<option value="">[Seleccionar Municipio]</option>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <option value="@item.MunicipioID">@item.Nombre</option>
    }
}