<div class="modal fade" id="applyConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aplicar Movimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-deleteConfirm text-center">
                    <i class="fa fa-clipboard-check text-info"></i>
                    <p>¿Desea aplicar el movimiento?</p>
                    <span class="text-muted">No podrá realizar cambios posteriormente.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light border" data-bs-dismiss="modal" autofocus>Salir</button>
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal" onclick="apply(event);">Aplicar</button>
            </div>
        </div>
    </div>
</div>
