<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAMBusiness.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/helper.css" rel="stylesheet" />
    <link href="~/css/fontAwesome.css" rel="stylesheet" />
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-base" asp-area="" asp-controller="Home" asp-action="Index">LAMBusiness</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="d-md-none btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-store"></i>
                                </div>
                                <span class="ml-2 ml-md-0">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Catalogo">
                                <div class="d-md-none btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-th"></i>
                                </div>
                                <span class="ml-2 ml-md-0">Catálogos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Contacto">
                                <div class="d-md-none btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-users"></i>
                                </div>
                                <span class="ml-2 ml-md-0">Contactos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Movimiento">
                                <div class="d-md-none btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <span class="ml-2 ml-md-0">Movimientos</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-bell"></i>
                                </div>
                                <span class="d-md-none ml-2">Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <div class="btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-user"></i>
                                </div>
                                <span class="d-md-none ml-2">Sesión de Usuario</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            LAMBusiness &copy; 2020 - <span class="text-base">Punto de Venta</span>
        </div>
    </footer>

    <!--loader-->
    <div id="loader" class="d-none">
        <input type="text" id="inputDisabled" class="d-none" />
    </div>
  
    <!--place the cursor at the top of the screen-->
    <button id="UpButton" onclick="positionTopScreen(event);"><i class="fas fa-arrow-alt-circle-up"></i></button>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(window).scroll(function () {
                if (screen.width > 425) {
                    if ($(this).scrollTop() < 300) {
                        $('#UpButton').fadeOut();
                    } else {
                        $('#UpButton').fadeIn();
                    }
                }
            });
        });
    </script>
</body>
</html>
