{"Error":false,"Mensaje":"","Contenido":{"SessionID":"9c995f46-ee5d-4110-a590-61a17a0a6895","UsuarioID":"2105ac73-0830-4142-83ff-6ff75b2b8b95","Nombre":"Administrador","PrimerApellido":"Del Sistema","SegundoApellido":"","Administrador":"SA","Activo":true,"FechaInicio":"2022-12-27T10:00:00","FechaTermino":"9998-12-31T23:59:59","HostName":"LAPTOP-V4VFCNNJ","IPPublica":"187.244.125.10","IPPrivada":"192.168.0.21","UsuariosModulos":null}}
