{"Error":false,"Mensaje":"","Contenido":{"SessionID":"e3b3aec7-e4ea-d8bf-b788-5a766cb8cd96","UsuarioID":"2105ac73-0830-4142-83ff-6ff75b2b8b95","Nombre":"Administrador","PrimerApellido":"Del Sistema","SegundoApellido":"","Administrador":"SA","Activo":true,"FechaInicio":"2022-12-27T10:00:00","FechaTermino":"9998-12-31T23:59:59","HostName":"DESKTOP-UMQIR77","IPPublica":"201.147.183.50","IPPrivada":"10.0.0.40","UsuariosModulos":null}}
