@model LAMBusiness.Web.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar contraseña";
}

<form asp-action="ChangePassword">
    <div class="modal-content border-0 box-shadow box-responsive m-auto">
        <div class="modal-header pb-0 align-items-baseline">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item">Sesión</li>
                    <li class="breadcrumb-item active">Cambiar contraseña</li>
                </ul>
            </div>
            <a asp-action="Sesion" asp-controller="Menu" class="btn-close me-md-1" aria-label="Close"></a>
        </div>
        <div class="modal-body py-4">
            <input type="hidden" asp-for="PasswordEncrypt" />
            <input type="hidden" asp-for="ConfirmPasswordEncrypt" />
            <div class="row px-md-3">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" autofocus />
                        <span asp-validation-for="PasswordEncrypt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPasswordEncrypt" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3 btn-process w-100">
                <div class="row g-0">
                    <input id="ChangePasswordButton" type="submit" value="Actualizar contraseña" class="btn btn-base btn-lam-75 col-12 col-md-auto" onclick="password();" />
                    <a asp-action="Sesion" asp-controller="Menu" class="btn btn-outline-secondary btn-lam-75 col-12 col-md-auto">Cancelar</a>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/js/jquery_encrypt.js"></script>
    <script>
        function password() {
            addButtonWithSpinner('Iniciando Sesión', '.btn-process', '#ChangePasswordButton');
            if ($('#Password').val() !== null && $('#Password').val() !== '') {
                $('#PasswordEncrypt').val((SHA512($('#Password').val())));
            }
            if ($('#ConfirmPassword').val() !== null && $('#ConfirmPassword').val() !== '') {
                $('#ConfirmPasswordEncrypt').val((SHA512($('#ConfirmPassword').val())));
            }
            $('#Password').val('');
            $('#ConfirmPassword').val('');
        }
    </script>
}