@{
    Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    ViewData["Title"] = "LAMBusiness";
}

<div class="row g-0">
    <div class="col-12 col-md-8">
        <div class="flex-container">
            <section class="position-relative">
                <div id="Datos" class="p-4 bg-light bg-absolute overflow-auto">
                    <div class="list-group list-group-flush text-dark mb-2">
                    </div>
                </div>
            </section>
            <div id="footer" class="bg-light position-relative border-top">
                <div class="p-4 position-relative">
                    <div class="position-absolute" style="top:0.2rem;left:4rem;">
                        <label id="MessageLabel" class="ms-4 text-danger" style="display:none;"></label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="InputText"
                               class="p-2"
                               style="font-size:2rem;">
                            <i id="icon" class="fa fa-barcode"></i>
                        </label>
                        <div class="w-100 mx-2">
                            <input id="InputText"
                                   type="text"
                                   data-input="codigo"
                                   class="rounded-pill px-4 py-2 border w-100"
                                   style="outline:none;font-size:1.4rem;"
                                   autofocus />
                        </div>
                        <a href="#"
                           onclick="inputText(event);">
                            <div class="btn-icon rounded-circle d-inline-block">
                                <i class="fa fa-check"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 d-none d-md-block">
        <div class="p-3">
            <h4 id="Total" class="fw-bold">Total $0.00</h4>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

@section Scripts{
    <script>
        var cant = '1';

        $(document).ready(function () {
            var myOffcanvas = document.getElementById('offcanvasRight');
            myOffcanvas.addEventListener('shown.bs.offcanvas', function () {
                alert('abriendo offcanvas');
            });

            screenResize();

            $(window).resize(function () {
                screenResize();
            });
        });
        $("#InputText").keydown(function (e) {
            switch (e.which) {
                case 13: //enter
                    inputText(e);
                    break;
                case 27: //*
                    cant = '1';
                    $("#InputText").val('')
                    $("#InputText")[0].dataset.input = 'codigo';
                    $("#InputText").attr('type', 'text');
                    $("#icon").removeClass('fa-dollar-sign');
                    $("#icon").removeClass('fa-search');
                    $("#icon").addClass('fa-barcode');
                    $('#MessageLabel')[0].innerHTML = '';
                    $('#MessageLabel').hide();
                    break;
                case 106: //*
                    if (isNaN($("#InputText").val())) {
                        cant = '1';
                        $('#MessageLabel')[0].innerHTML = 'Cantidad incorrecta';
                        $('#MessageLabel').show();
                    } else {
                        $('#MessageLabel').hide();
                        cant = $("#InputText").val();
                    }
                    $("#InputText").val('')
                    e.preventDefault;
                    return false;
                    break;
                case 112: //F1
                    e.preventDefault();
                    $("#InputText").attr('type', 'text');
                    $("#InputText")[0].dataset.input = 'buscar';
                    $("#icon").removeClass('fa-barcode');
                    $("#icon").removeClass('fa-dollar-sign');
                    $("#icon").addClass('fa-search');
                    break;
                case 116: //F5
                    e.preventDefault();
                    $("#InputText").attr('type', 'number');
                    $("#InputText")[0].dataset.input = 'importe';
                    $("#icon").removeClass('fa-barcode');
                    $("#icon").removeClass('fa-search');
                    $("#icon").addClass('fa-dollar-sign');
                    break;
            }
        });

        function getProduct(id, code = false) {
            addProcessWithSpinnerInList('SpinList', 'fa-search');
            var url = '@Url.Action("GetProductDetail", "Productos")';
            if (code) {
                url = '@Url.Action("GetProductDetailByCode", "Productos")';
            }
            if (id === '') {
                $('#MessageLabel')[0].innerHTML = 'Favor de proporcionar el código del producto';
                $('#MessageLabel').show();
                return false;
            }
            $.ajax({
                url: url,
                method: 'POST',
                datatype: 'text',
                data: { id: id },
                success: function (r) {
                    if (r !== null && r.trim() !== '') {
                        $('#ModalHelpLabel')[0].innerHTML = 'Producto';
                        $('#ModalHelp .modal-body').empty();
                        $('#ModalHelp .modal-body').append(r);
                        $('#ModalHelp').modal('show');
                        $('#MessageLabel')[0].innerHTML = '';
                        $('#MessageLabel').hide();
                    } else {
                        $('#MessageLabel')[0].innerHTML = 'Código inexistente...';
                        $('#MessageLabel').show();
                    }
                    $("#InputText").val('');
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                error: function (r) {
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                cache: false
            });
        }
        function getProductByCode() {
            $.ajax({
                url: '@Url.Action("GetProductByCode", "Ventas")',
                method: 'POST',
                datatype: 'text',
                data: {
                    codigo: $('#InputText').val(),
                    cantidad: cant
                },
                success: function (result) {
                    if (result == null || result == '') {
                        $('#InputText').val('');
                        $('#MessageLabel')[0].innerHTML = 'Código inexistente...';
                        $('#MessageLabel').show();
                    } else {
                        $('#Datos > div').append(result);
                        var box = document.getElementById('Datos');
                        box.scrollTop = box.scrollHeight;
                        cant = '1';
                        $('#InputText').val('');
                        $('#MessageLabel')[0].innerHTML = '';
                        $('#MessageLabel').hide();
                        getTotalSum();
                    }
                },
                error: function (r) {
                    $('#InputText').val('');
                    $('#MessageLabel')[0].innerHTML = 'Código inexistente...';
                    $('#MessageLabel').show();
                },
                cache: false
            });
        }
        function getTotalSum() {
            var total = 0;
            $("[data-importe]").each(function (index) {
                total += parseFloat($(this)[0].dataset.importe);
            });
            $('#Total').text('Total $' + total);
        }
        function inputText(e) {
            e.preventDefault();
            var input = $("#InputText")[0].dataset.input;
            switch (input) {
                case 'buscar':
                    getProduct($("#InputText").val(), true);
                    break;
                case 'codigo':
                    makeSale(e);
                    break;
                case 'importe':
                    paySale(e);
                    break;
            }
        }
        function offcanvas(e) {
            var myOffcanvas = document.getElementById('offcanvasRight');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();
        }
        function makeSale(e) {
            e.preventDefault();
            cant = cant === '' ? '1' : cant;
            if ($("#InputText").val() === '') {
                $('#MessageLabel')[0].innerHTML = 'Favor de proporcionar el código del producto';
                $('#MessageLabel').show();
                return false;
            }
            getProductByCode();
        }
        function paySale(e) {
            e.preventDefault();
            if ($("#InputText").val() === '') {
                $('#MessageLabel')[0].innerHTML = 'Favor de proporcionar el importe.';
                $('#MessageLabel').show();
                return false;
            }
            $('#MessageLabel')[0].innerHTML = '';
            $('#MessageLabel').hide();
            alert('Realizar venta');
        }
        function screenResize() {
            var height = $(window).height();
            var heightH = $('header').height();
            var heightF = $('#footer').height();

            $('section').height(height - heightH - heightF - 1);
        }
    </script>
}