@model LAMBusiness.Shared.Aplicacion.Filtro<List<LAMBusiness.Shared.Movimiento.VentaNoAplicada>>

@if (Model != null)
{
    <div>
        <ul class="list-group">
            @if(Model.Skip == 0)
            {
                <li class="list-group-item list-group-item-light">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Registros</span>
                        <span>@Model.Registros reg.</span>
                    </div>
                </li>
            }
            @foreach (var item in Model.Datos)
            {
                <li class="list-group-item list-group-item-action sale"
                    data-id="@item.VentaNoAplicadaID"
                    onclick="addSale(event);"
                    style="cursor:pointer;">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>@Convert.ToDateTime(item.Fecha).ToString("dd MMM, yyyy")</h6>
                        <small class="text-muted">@Convert.ToDateTime(item.Fecha).ToString("HH:mm")</small>
                    </div>
                </li>
            }
        </ul>
    </div>
}