@model IEnumerable<LAMBusiness.Shared.Catalogo.Genero>

@{
    ViewData["Title"] = "Géneros";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Géneros</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Géneros</li>
                <li class="breadcrumb-item active">@Model.Count() Registro(s)</li>
            </ul>
        </div>
        <a asp-action="Catalogo" asp-controller="Menu" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body pt-4">
        <div>
            <div class="row px-md-3 font-weight-bold text-uppercase">
                <div class="border-bottom col-12 px-3 py-2">
                    @Html.DisplayNameFor(model => model.GeneroDescripcion)
                </div>
            </div>
            <div class="px-md-3" id="dRows" data-charging="0" data-rows-next="1">
                @foreach (var item in Model)
                {
                    <div class="row bg-row">
                        <div class="border-bottom col-9 px-3 py-2 text-truncate">
                            <span class="text-dark">@Html.DisplayFor(modelItem => item.GeneroDescripcion)</span>
                        </div>
                        <div class="border-bottom col-3 px-3 py-2 text-right">
                            <a asp-action="Edit" asp-route-id="@item.GeneroID" class="text-decoration-none">
                                <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar registro">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>