@model LAMBusiness.Shared.Dashboard.Dashboard

@{
    ViewData["Title"] = "Dashboard";
}

<div class="pb-0">
    <div>
        <h3 class="modal-title" id="exampleModalLabel">Dashboard</h3>
        <ul class="breadcrumb bg-transparent p-0 small">
            <li class="breadcrumb-item">Menú</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ul>
    </div>
</div>
<div class="modal-body py-4">
    <div class="row">

        <!--Dashboard de Movimientos-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("50DECAF3-BFA7-42BB-B544-960178A93342")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Movimientos" asp-controller="Dashboard" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-chart-area display-4 text-success"></i>
                            <h4 class="mt-4">Movimientos</h4>
                            <p class="mb-3">Estadísticas de Movimientos</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>