@model LAMBusiness.Shared.Movimiento.Entrada

@{
    ViewData["Title"] = "Entradas";
}

<form asp-action="Create">
    <div class="modal-content border-0 box-shadow box-responsive mx-auto">
        <div class="modal-header pb-0">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Entradas</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item">Movimientos</li>
                    <li class="breadcrumb-item">Entradas</li>
                    <li class="breadcrumb-item active">Nuevo Registro</li>
                </ul>
            </div>
            <a asp-action="Index" asp-controller="Entradas" class="close"><span>&times;</span></a>
        </div>
        <div class="modal-body py-4">
            <div class="row px-md-3">
                <!-- Proveedor -->
                <div class="col-12">
                    <div id="ProveedorSearch" class="form-group">
                        <input asp-for="ProveedorID" type="hidden" />
                        <label asp-for="ProveedorID" class="control-label"></label>
                        <div class="input-group">
                            <input id="ProveedorSearchInput" type="search" class="form-control"
                                   data-toggle="focus"
                                   data-target=".list-registers"
                                   placeholder="Ingrese RFC o nombre..."
                                   autofocus autocomplete="off"
                                   onkeyup="positionCursorWithArrowKey(event);"
                                   onkeypress="getProveedor(event);" />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button id="ProveedorSearchButton" class="btn btn-light border"
                                            type="button" onclick="search(event);">
                                        <span id="SpinList" class="d-flex align-items-center">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ProveedorID" class="text-danger"></span>
                        <div id="dRow" class="mb-4 mt-1 list-registers" data-charging="0" data-rows-next="1">
                        </div>
                    </div>
                </div>
                <div id="ProveedorDatos" class="col-12 py-2 d-none">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="font-weight-bold text-base">Datos del proveedor</h6>
                            <a href="#" onclick="deleteButtonProveedor(event);"><span>&times;</span></a>
                        </div>
                        <hr class="my-2" />
                        <small id="ProveedorNombre" class="d-block"></small>
                        <small id="ProveedorRFC" class="text-muted"></small>
                        <hr />
                    </div>
                </div>
                <!-- Folio -->
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Folio" class="control-label"></label>
                        <input asp-for="Folio" class="form-control" autofocus />
                        <span asp-validation-for="Folio" class="text-danger"></span>
                    </div>
                </div>
                <!-- Fecha -->
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>
                <!-- Observaciones -->
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <textarea asp-for="Observaciones" class="form-control"></textarea>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3">
                <input type="submit" value="Guardar" class="btn btn-base" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var skip = 0;
    var input = '';

    $(document).ready(function () {
        $('#dRow').on("scroll", function () {
            if ($('#dRow')[0] !== this.undefined &&
                $('#dRow').attr('data-rows-next') === "1" &&
                $('#dRow').attr('data-charging') === "0" &&
                $('#dRow > div').length % 50 === 0) {
                var scrollHeight = $(document).height();
                var scrollPosition = $(window).height() + $(window).scrollTop();
                var result = (scrollHeight - scrollPosition) / scrollHeight;
                if (result <= 0.0005) {
                    skip += 50;
                    addRowsNext(skip);
                }
            }
        });
    });

    function addProveedor(e) {
        e.preventDefault();
        getProveedorByRFC(e.currentTarget.dataset.search);
    }

    function addRowsNext(skip, inicio = false) {
        addProcessWithSpinnerInList('SpinList', 'fa-search');
        $('#dRow').attr('data-charging', "1");
        var searchBy = $('#ProveedorSearchInput')[0] === undefined ? "" : $('#ProveedorSearchInput').val();
        if (searchBy === '') {
            $('#dRow').attr('data-rows-next', "0");
            $('#dRow').attr('data-charging', "0");
            removeProcessWithSpinnerInList('SpinList', 'fa-search');
            return false;
        }
        $.ajax({
            url: '@Url.Action("GetProveedores", "Entradas")',
            method: 'POST',
            datatype: 'text',
            data: {
                pattern: searchBy,
                skip: skip
            },
            success: function (r) {
                if (inicio) { $('#dRow').empty(); }
                if (r !== null && r.trim() !== '') {
                    $('#dRow').append(r);
                    $('#dRow').slideDown();
                    $('#ProveedorSearchInput').focus();
                } else {
                    $('#dRow').attr('data-rows-next', "0");
                }
                $('#dRow').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            error: function (r) {
                $('#dRow').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            cache: false
        });
    }

    function deleteButtonProveedor(e) {
        e.preventDefault();
        $('#ProveedorID').val('');
        $('#ProveedorNombre')[0].innerText = '';
        $('#ProveedorRFC')[0].innerText = '';
        $('#ProveedorDatos').removeClass('d-block').addClass('d-none');
        $('#ProveedorSearch').removeClass('d-none').addClass('d-block');
        $('#ProveedoresLista > div').remove();
        $('#ProveedorSearchInput').val('');
        $('#ProveedorSearchInput').focus();
    }

    function getProveedor(e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            getProveedorByRFC(e.currentTarget.value);
        }

    }

    function getProveedorByRFC(rfc) {
        if (rfc !== '') {
            addProcessWithSpinnerInList('SpinList', 'fa-search');
            $.ajax({
                url: '@Url.Action("GetProveedor", "Entradas")',
                method: 'POST',
                datatype: 'text',
                data: { rfc: rfc },
                success: function (r) {
                    if (!r.error) {
                        $('#ProveedorDatos').removeClass('d-none').addClass('d-block');
                        $('#ProveedorID').val(r.proveedorID);
                        $('#ProveedorNombre')[0].innerText = r.nombre;
                        $('#ProveedorRFC')[0].innerText = r.rfc;
                        $('#ProveedorSearch').removeClass('d-block').addClass('d-none');
                        $('#dRow > div').remove();
                        $('#Folio').focus();
                    } else {
                        alert(r.message);
                    }
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                error: function (r) {
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                cache: false
            });
        }
    }

    function search(e) {
        e.preventDefault();
        if ($('#ProveedorSearchInput').attr('data-toggle')) {
            if ($('#ProveedorSearchInput').val() !== '') {
                skip = 0;
                addRowsNext(skip, true);
            }
        }
    }
      
</script>
}
