@model LAMBusiness.Shared.Aplicacion.Filtro<List<LAMBusiness.Shared.Movimiento.Salida>>

@{
    ViewData["Title"] = "Salidas";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0 align-items-baseline">
        <div class="ms-3">
            <h3 class="modal-title" id="exampleModalLabel">Salidas</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item"><a asp-action="Movimiento" asp-controller="Home">Movimientos</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Salidas">Salidas</a></li>
                <li class="breadcrumb-item active text-muted">Lista</li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <a class="btn-help text-secondary me-3" href="/" onclick="help('ViewIndex', event);">
                <i class="fa fa-question-circle"></i>
            </a>
            <a asp-action="Movimiento" asp-controller="Home" class="btn-close me-md-1" aria-label="Close"></a>
        </div>
    </div>
    <div class="modal-body py-4 mb-4" data-module="Salidas">
        <div class="row px-md-3">
            <div class="col-9 col-md-6 pr-0 pr-md-3">
                <div class="input-group mb-3 search">
                    <input type="search" id="SearchInput" class="form-control" placeholder="Buscar..." onkeypress="search(event);">
                    <button class="btn btn-light border" type="button" onclick="search(event);"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-3 col-md-6 text-end">
                <div class="d-flex justify-content-end align-items-center">
                    <select asp-for="TipoDeMovimiento" class="btn btn-base" onchange="buscarRegistros();">
                        <option value="0">Todos</option>
                        <option value="1">Aplicados</option>
                        <option value="2">No Aplicados</option>
                    </select>
                    @if (Model.PermisoEscritura)
                    {
                        <a asp-action="Create" class="btn btn-base ms-1">
                            <i class="fas fa-plus"></i><span class="d-none d-md-inline-block ms-2">Nuevo Registro</span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div>
            <partial name="_AddRowsNextAsync" model="Model" />
        </div>
    </div>
</div>

@if (Model.PermisoEscritura)
{
    <partial name="_DeleteConfirmDialog" />
}