<div>
    <h5 class="fw-bold">Página alta de registro</h5>
    <p class="text-muted">Las páginas para agregar nuevos registros contienen la siguiente información:</p>
    <div class="text-center">
        <img src="~/images/help/ViewCreate.png" class="w-100" alt="página de alta de registro" />
    </div>
    <ol class="list-group list-group-flush list-group-numbered">
        <li class="list-group-item">Título de la página</li>
        <li class="list-group-item">Enlaces a vistas precedentes, los enlaces son textos en color <span class="text-primary">azul</span></li>
        <li class="list-group-item">
            Los campos marcados con un asterisco azul ( <span style="color: #00c6fc">*</span> )
            son requeridos, es decir, debe proporcionar la información correspondiente, de lo 
            contrario el sistema no permitirá almacenar el registro.
        </li>
        <li class="list-group-item">
            Presione el botón <div class="btn btn-sm btn-danger text-white">Guardar</div> para 
            almacenar la información proporcionada en la base de datos.
        </li>
        <li class="list-group-item">
            Presione el botón <div class="btn btn-sm btn-outline-secondary">Regresar</div> 
            para ir al módulo anterior (página de lista).
        </li>
    </ol>
</div>