@model LAMBusiness.Web.Models.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Clientes";
}

<form asp-action="Create">
    <div class="modal-content border-0 box-shadow">
        <div class="modal-header pb-0 align-items-baseline">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Clientes</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item"><a asp-action="Contacto" asp-controller="Menu">Contactos</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Clientes">Clientes</a></li>
                    <li class="breadcrumb-item active">Nuevo Registro</li>
                </ul>
            </div>
            <a asp-action="Index" asp-controller="Clientes" class="btn-close me-md-1" aria-label="Close"></a>
        </div>
        <div class="modal-body py-4">
            <div class="row px-md-3">
                <!--RFC-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="RFC" class="control-label"></label>
                        <input asp-for="RFC" class="form-control" autofocus />
                        <span asp-validation-for="RFC" class="text-danger"></span>
                    </div>
                </div>
                <!--Nombre-->
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <!--Domicilio-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Domicilio" class="control-label"></label>
                        <input asp-for="Domicilio" class="form-control" />
                        <span asp-validation-for="Domicilio" class="text-danger"></span>
                    </div>
                </div>
                <!--Colonia-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Colonia" class="control-label"></label>
                        <input asp-for="Colonia" class="form-control" />
                        <span asp-validation-for="Colonia" class="text-danger"></span>
                    </div>
                </div>
                <!--Código Postal-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CodigoPostal" class="control-label"></label>
                        <input asp-for="CodigoPostal" class="form-control" />
                        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                    </div>
                </div>
                <!--Estados-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EstadoID" class="control-label"></label>
                        <select asp-for="EstadoID" class="form-control" asp-items="Model.EstadosDDL"></select>
                        <span asp-validation-for="EstadoID" class="text-danger"></span>
                    </div>
                </div>
                <!--Municipios-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MunicipioID" class="control-label"></label>
                        <select asp-for="MunicipioID" class="form-control" asp-items="Model.MunicipiosDDL"></select>
                        <span asp-validation-for="MunicipioID" class="text-danger"></span>
                    </div>
                </div>
                <!--Teléfono Fijo-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <!--Correo Electrónico-->
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <!--Activo-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Activo" class="control-label"></label>
                        <input class="d-block" asp-for="Activo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3">
                <input type="submit" value="Guardar" class="btn btn-base" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#EstadoID').change(function () {
        StateChange();
    });

    function StateChange() {
        addProcessWithSpinner('Cargando municipios...');
        $.ajax({
            url: '@Url.Action("AddMunicipios", "Clientes")',
            method: 'POST',
            datatype: 'text',
            data: {
                id: $('#EstadoID').val()
            },
            success: function (r) {
                $('#MunicipioID').empty();
                if (r !== null && r.trim() !== '') {
                    $('#MunicipioID').append(r);
                }
                removeProcessWithSpinner();
            },
            error: function (r) {
                removeProcessWithSpinner();
            },
            cache: false
        });
    }
</script>
}