@model LAMBusiness.Web.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Usuarios";
}

<form asp-action="Create">
    <div class="modal-content border-0 box-shadow">
        <div class="modal-header pb-0 align-items-baseline">
            <div>
                <h3 class="modal-title" id="exampleModalLabel">Usuarios</h3>
                <ul class="breadcrumb bg-transparent p-0 small">
                    <li class="breadcrumb-item"><a asp-action="Contacto" asp-controller="Home">Contactos</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Usuarios">Usuarios</a></li>
                    <li class="breadcrumb-item active">Nuevo Registro</li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn-help text-secondary me-3" href="/" onclick="help('ViewCreate', event);">
                    <i class="fa fa-question-circle"></i>
                </a>
                <a asp-action="Index" asp-controller="Usuarios" class="btn-close me-md-1" aria-label="Close"></a>
            </div>
        </div>
        <div class="modal-body py-4">
            <div class="row px-md-3">
                <!--Nombre-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label required"></label>
                        <input asp-for="Nombre" class="form-control" autofocus />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <!--Primer Apellido-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PrimerApellido" class="control-label required"></label>
                        <input asp-for="PrimerApellido" class="form-control" />
                        <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                    </div>
                </div>
                <!--Segundo Apellido-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SegundoApellido" class="control-label"></label>
                        <input asp-for="SegundoApellido" class="form-control" />
                        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                    </div>
                </div>
                <!--Correo Electrónico-->
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label required"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <!--Teléfono Móvil-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TelefonoMovil" class="control-label required"></label>
                        <input asp-for="TelefonoMovil" class="form-control" />
                        <span asp-validation-for="TelefonoMovil" class="text-danger"></span>
                    </div>
                </div>
                <!--Fecha de inicio-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label required"></label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                </div>
                <!--Fecha de término-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label asp-for="FechaTermino" class="control-label required"></label>
                        <input asp-for="FechaTermino" class="form-control" autofocus />
                        <span asp-validation-for="FechaTermino" class="text-danger"></span>
                    </div>
                </div>
                <!--Administrador-->
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="AdministradorID" class="control-label required"></label>
                        <select asp-for="AdministradorID" class="form-select" asp-items="Model.AdministradoresDDL"></select>
                        <span asp-validation-for="AdministradorID" class="text-danger"></span>
                    </div>
                </div>
                <!--Activo-->
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Activo" class="control-label"></label>
                        <input class="d-block" asp-for="Activo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="px-md-3">
                <input type="submit" value="Guardar" class="btn btn-base" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    function addColaborador(e) {
        e.preventDefault();
        getColaboradorByCURP(e.currentTarget.dataset.search);
    }

    function addRowsNextListBox(skip, inicio = false) {
        addProcessWithSpinnerInList('SpinList', 'fa-search');
        $('#dRowListBox').attr('data-charging', "1");
        var searchBy = $('#ColaboradorSearchInput')[0] === undefined ? "" : $('#ColaboradorSearchInput').val();
        if (searchBy === '') {
            $('#dRowListBox').attr('data-rows-next', "0");
            $('#dRowListBox').attr('data-charging', "0");
            removeProcessWithSpinnerInList('SpinList', 'fa-search');
            return false;
        }
        $.ajax({
            url: '@Url.Action("GetColaboradores", "Usuarios")',
            method: 'POST',
            datatype: 'text',
            data: {
                pattern: searchBy,
                skip: skip
            },
            success: function (r) {
                if (inicio) { $('#dRowListBox').empty(); }
                if (r !== null && r.trim() !== '') {
                    $('#dRowListBox').append(r);
                    $('#dRowListBox').slideDown();
                    $('#ColaboradorSearchInput').focus();
                } else {
                    toast('No se encontró información con ese patrón de búsqueda.');
                    $('#dRowListBox').attr('data-rows-next', "0");
                }
                $('#dRowListBox').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            error: function (r) {
                $('#dRowListBox').attr('data-charging', "0");
                removeProcessWithSpinnerInList('SpinList', 'fa-search');
            },
            cache: false
        });
    }

    function deleteButtonColaborador(e) {
        e.preventDefault();
        $('#UsuarioID').val('');
        $('#ColaboradorNombre')[0].innerText = '';
        $('#ColaboradorDatos').removeClass('d-block').addClass('d-none');
        $('#ColaboradorSearch').removeClass('d-none').addClass('d-block');
        $('#ColaboradorsLista > div').remove();
        $('#ColaboradorSearchInput').val('');
        $('#ColaboradorSearchInput').focus();
    }

    function getColaborador(e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            getColaboradorByCURP(e.currentTarget.value);
        }
    }

    function getColaboradorByCURP(curp) {
        if (curp !== '') {
            addProcessWithSpinnerInList('SpinList', 'fa-search');
            $.ajax({
                url: '@Url.Action("GetColaborador", "Usuarios")',
                method: 'POST',
                datatype: 'text',
                data: { curp: curp },
                success: function (r) {
                    if (!r.error) {
                        $('#ColaboradorDatos').removeClass('d-none').addClass('d-block');
                        $('#UsuarioID').val(r.UsuarioID);
                        $('#ColaboradorNombre')[0].innerText = r.primerApellido + ' ' + r.segundoApellido + ' ' + r.nombre;
                        $('#ColaboradorSearch').removeClass('d-block').addClass('d-none');
                        $('#dRowListBox > div').remove();
                        $('#Activo').focus();
                    } else {
                        alert(r.message);
                    }
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                error: function (r) {
                    removeProcessWithSpinnerInList('SpinList', 'fa-search');
                },
                cache: false
            });
        }
    }

    function searchListBox(e) {
        e.preventDefault();
        if ($('#ColaboradorSearchInput').attr('data-bs-toggle')) {
            if ($('#ColaboradorSearchInput').val() !== '') {
                skip = 0;
                addRowsNextListBox(skip, true);
            }
        }
    }
    </script>
}
