@model LAMBusiness.Shared.Dashboard.Aplicacion

@{
    ViewData["Title"] = "Aplicación";
}

<div class="pb-0">
    <div>
        <h3 class="modal-title" id="exampleModalLabel">Aplicaciones</h3>
        <ul class="breadcrumb bg-transparent p-0 small">
            <li class="breadcrumb-item">Menú</li>
            <li class="breadcrumb-item active">Aplicación</li>
        </ul>
    </div>
</div>
<div class="modal-body py-4">
    <div class="row">
        <!--Modulos-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("36a7c3fa-a7fe-4288-988f-adcdfef9ef63")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Modulos" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-laptop-code display-4 text-base"></i>
                            <h4 class="mt-4"><span class="text-base">@Model.Modulos</span> Módulos</h4>
                            <p class="mb-3">Catálogo de módulos</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>