@{
    ViewData["Title"] = "Página en construcción";
}

<div class="modal-body py-4">
    <div class="card mb-4 text-dark">
        <div class="card-body bg-card text-center py-5">
            <i class="fas fa-tools display-4 text-danger"></i>
            <h3 class="mt-4">PÁGINA EN CONSTRUCCIÓN</h3>
        </div>
    </div>
</div>