@model LAMBusiness.Web.Models.ViewModels.InicioSesionViewModel

@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}

<script src="~/js/jquery_encrypt.js"></script>
<div class="signIn">
    <div class="modal-content border-0 box-shadow box-responsive m-auto mt-md-5">
        <form asp-action="SignIn">
            <div class="modal-header">
                <div>
                    <h2 class="modal-title py-2 text-secondary" id="exampleModalLabel">Inicio de <span class="text-base">Sesión</span></h2>
                </div>
                <a asp-action="Index" asp-controller="Home" class="close"><span>&times;</span></a>
            </div>
            <div class="modal-body py-4">
                <div class="px-md-3">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="example@correo.com" onchange="removeButtonWithSpinner('#IniciarSesionButton');" autofocus />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="d-none" />
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" id="Pwd" class="form-control" onchange="removeButtonWithSpinner('#IniciarSesionButton');"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between align-items-center">
                <div class="btn-process px-md-3">
                    <input id="IniciarSesionButton" type="submit" value="Iniciar Sesión" class="btn btn-base" onclick="password();" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        function password() {
            addButtonWithSpinner('Iniciando Sesión', '.btn-process', '#IniciarSesionButton');
            if ($('#Pwd').val() !== '') {
                $('#Password').val((SHA512($('#Pwd').val())));
                $('#Pwd').val('');
            }
        }
    </script>
}