@model LAMBusiness.Web.Models.ViewModels.InicioSesionViewModel

@{
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Inicio de Sesión";
}

<script src="~/js/jquery_encrypt.js"></script>
<div class="signIn">
    <div class="modal-content border-0 box-shadow box-responsive m-auto mt-md-5">
        <form asp-action="SignIn">
            <div class="modal-header">
                <div>
                    <h2 class="modal-title py-2 text-secondary" id="exampleModalLabel">Inicio de <span class="text-base">Sesión</span></h2>
                </div>
                <a asp-action="Index" asp-controller="Home" class="btn-close me-1 me-md-2" disabled aria-label="Close"></a>
            </div>
            <div class="modal-body py-4">
                <div class="px-md-3">
                    <div class="form-floating mb-3">
                        <input id="EmailInput" type="email" asp-for="Email" class="form-control" placeholder="example@correo.com" onchange="removeButtonWithSpinner('#IniciarSesionButton');" autofocus />
                        <label for="EmailInput">Correo Electrónico</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Password" class="d-none" />
                        <input type="password" id="Pwd" class="form-control" placeholder="Password" onchange="removeButtonWithSpinner('#IniciarSesionButton');"/>
                        <label for="Pwd">Contraseña</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-process px-md-3 w-100">
                    <input id="IniciarSesionButton" type="submit" value="Iniciar Sesión" class="btn btn-base btn-lam-75 col-12 col-md-auto" onclick="password();" />
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        function password() {
            addButtonWithSpinner('Iniciando Sesión', '.btn-process', '#IniciarSesionButton');
            if ($('#Pwd').val() !== '') {
                $('#Password').val((SHA512($('#Pwd').val())));
                $('#Pwd').val('');
            }
        }
    </script>
}