@{
    Layout = "_LayoutInitial";
}

<div class="modal-body py-4">
    <div class="card mb-4 text-dark">
        <div class="card-body bg-card text-center py-5">
            <i class="fas fa-frown text-base" style="font-size:8rem;"></i>
            <h4 class="p-5">Lo sentimos el periodo de vigencia para uso de la aplicación ha expriado, comuníquese con el administrador del sistema.</h4>
        </div>
    </div>
</div>

