@model IEnumerable<LAMBusiness.Shared.Catalogo.EstadoCivil>

@{
    ViewData["Title"] = "Estado Civil";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0 align-items-baseline">
        <div class="ms-3">
            <h3 class="modal-title" id="exampleModalLabel">Estado Civil</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item"><a asp-action="Catalogo" asp-controller="Home">Catálogos</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="EstadosCiviles">Estado Civil</a></li>
                <li class="breadcrumb-item active text-muted">Lista</li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <a class="btn-help text-secondary me-3" href="/" onclick="help('ViewIndex', event);">
                <i class="fa fa-question-circle"></i>
            </a>
            <a asp-action="Catalogo" asp-controller="Home" class="btn-close me-md-1" aria-label="Close"></a>
        </div>
    </div>
    <div class="modal-body pt-4">
        <div>
            <div class="row px-md-3">
                <div class="border-bottom col-8 p-3">
                    <div class="fw-bold text-uppercase">Estado Civil</div>
                </div>
                <small class="border-bottom col-4 p-3 text-muted text-end">
                    @Model.Count().ToString("#,###,##0") Registro(s).
                </small>
            </div>
            <div class="row px-md-3" id="dRows" data-charging="0" data-rows-next="1">
                @foreach (var item in Model)
                {
                    <div class="bg-row border-bottom col-12 px-3 py-2">
                        <span class="text-dark">@Html.DisplayFor(modelItem => item.Nombre)</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>